# -*- mode: conf -*-
# /usr/lib/systemd/system/elasticsearch_exporter.service is {{ ansible_managed }}

[Unit]
Description=Prometheus exporter for machine metrics, written in Go with pluggable metric collectors.
Documentation=https://github.com/justwatchcom/elasticsearch_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/elasticsearch_exporter
User=prometheus
ExecStart=/usr/bin/elasticsearch_exporter \
          {%for flag in prometheus_elasticsearch_exporter_opts %}--{{ flag }} \
          {% endfor %}
          $ELASTICSEARCH_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
