global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'master'

# Add Alert rules via prometheus_rule_files variable which is basically a source list
# (full path or relative to roles files dir) and destination dir is what we configured in the prometheus_rules_dir
# variable
{% if prometheus_rule_files is defined %}
# Rule files specifies a list of files from which rules are read.
rule_files:
  {% for (key, value) in prometheus_rule_files.items() %}
  - {{ prometheus_rules_dir }}/{{ value.dest }}
  {% endfor %}
{% endif %}

{% if "alertmanager" in prometheus_components %}
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{ prometheus_alertmanager_opt_listen_ip }}:{{ prometheus_alertmanager_opt_port }}
{% endif %}

# A list of scrape configurations.
scrape_configs:
# Let prometheus scrape itself by default ...
- job_name: 'prometheus'
  scrape_interval: 10s
  scrape_timeout:  10s
  static_configs:
    - targets: ['localhost:9090']
# Assuming node_exporter is running / managed by this role - by default ...
{% if "node_exporter" in prometheus_components %}
  static_configs:
    - targets: ['{{ prometheus_node_exporter_opt_listen_ip }}:{{ prometheus_node_exporter_opt_port }}']
{% endif %}

{% if "pushgateway" in prometheus_components %}
- job_name: 'pushgateway'
scrape_interval: 5s
# metrics_path defaults to '/metrics'
# scheme defaults to 'http'.
  static_configs:
    - targets: ['{{ prometheus_pushgateway_opt_web_listen_address }}']
{% endif %}
{% if prometheus_static_targets is defined %}
  file_sd_configs:
    - files:
      - '{{ prometheus_file_sd_config_path }}/*.yml'
{%endif %}

{% if prometheus_jobs != '' %}
{{ prometheus_jobs | to_yaml }}
{% endif %}

{% if "crate_adapter" in prometheus_components %}
{% if prometheus_cratedb_remote_write %}
remote_write:
   - url: http://{{ prometheus_crate_adapter_opt_listen_ip }}:{{ prometheus_crate_adapter_opt_port }}/write
{% endif %}
{% if prometheus_cratedb_remote_read %}
remote_read:
   - url: http://{{ prometheus_crate_adapter_opt_listen_ip }}:{{ prometheus_crate_adapter_opt_port }}/read
{% endif %}
{% endif %}
